<!DOCTYPE html>
<head>
	<title>The Cheap Drunk</title>
	<link rel="stylesheet" href="./Style.css"/>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Lily+Script+One' rel='stylesheet' type='text/css'>
	<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
</head>

<body>
	<header class="top">
		<div id="top-bar"></div>
		<div id="nav-bar">
			<ul class="nav-links">
				<a href="/"><li><strong>HOME</strong></li></a>
				<% categories = ["all", "beer", "wine", "vodka", "whiskey", "cider", "rum", "gin", "coolers"] %>
				<% categories.each do |category| %>
					<a href=<%= "#{category}" %>>
						<li id=<%= category == @cat ? "active" : "" %>><strong><%= "#{category.upcase}" %></strong></li></a>
				<% end %>
			</ul>
		</div>
	</header>

	<div class="products-container">

		<ul class="products"> 
		<% @beverages.each_with_index do |beverage, i| %>
			<% display = "display:none;" if i > 19 %>
			<% beverage[:alcoholPrice].to_f > 110 ? barwidth = 100 : barwidth = beverage[:alcoholPrice].to_f - 10 %>
			<li class=<%= "bg#{i % 8}" %> style= <%= "width:#{barwidth}%;"+
			"#{display}" %>>
				<span class="list-number"><%= i + 1 %></span>
				<a href=<%= "http://lcbo.com/lcbo-ear/lcbo/product/details.do?language=EN&itemNumber=#{beverage[:id]}" %>>
					<h2 class="product-name"><%= beverage[:name] %></h2>
				</a>
				<div class="tooltip">
					<%= "Price: $#{beverage[:price]}" %><br>
					<%= "Size: #{beverage[:container]}" %><br>
					<%= "Alcohol: #{beverage[:alcohol]}%" %>
				</div>
			</li>
		<% end %>	
		</ul>
	</div>

	<button class="show-more" style= <%= "display:none;" if @beverages.size <= 20 %>>Show More</button>

	<div class ="footer" id="show">
		<p id="author-tag">Created by Stuart Garvagh - &copy; 2013</p>
		<ul class="social">
			<a href="https://www.facebook.com/stuart.garvagh"><li id="fb"></li></a>
			<a href="https://twitter.com/StuartGarvagh"><li id="twitter"></li></a>
		</ul>
	</div>

	<script src='/js/script.js'></script>
</body>
</html>