<!DOCTYPE html>
<head>
	<title>The Cheap Drunk</title>
	<link rel="stylesheet" href="./Style.css"/>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Lily+Script+One' rel='stylesheet' type='text/css'>
</head>

<body>
	<header class="top">
		<div id="top-bar"></div>
		<div id="nav-bar">
			<ul class="nav-links">
				<% categories = ["all", "beer", "wine", "vodka", "whiskey", "cider", "rum", "gin", "coolers"] %>
				<% categories.each do |category| %>
					<a href=<%= "#{category}" %>>
						<li id=<%= category == @cat ? "active" : "" %>><strong><%= "#{category.upcase}" %></strong></li></a>
				<% end %>
			</ul>
		</div>
	</header>

	<div class="products-container">

		<ul class="products">
		<% @beverages.each_with_index do |beverage, i| %>
			<li class=<%= (i % 8).to_s %> style= <%= "width:#{beverage[:alcoholPrice]}" %>
					<%= i > 19 ? "display\:none;" : "" %>>
				<span class="list-number"><%= i + 1 %></span>
				<!---<img <%= beverage[:thumb].size > 1 ? "src= #{beverage[:thumb]}" : "" %> class="product-thumbnail" alt="">-->
				<h2 class="product-name"><%= beverage[:name] %></h2>
				<!--<p class="product-details">
					<%= "Price: $#{beverage[:price]}" %>
					<%= "Size: #{beverage[:container]}" %>
					<%= "Alcohol: #{beverage[:alcohol]}%" %> -->
			</li>
		<% end %>	
		</ul>
	</div>

	<div class ="footer" id="show">
	</div>
</html>