<!DOCTYPE html>
<head>
	<title>The Cheap Drunk</title>
	<link rel="stylesheet" href="./Style.css"/>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Lily+Script+One' rel='stylesheet' type='text/css'>
	<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
</head>

<body>
	<header class="top">
		<div id="top-bar"></div>
		<div id="nav-bar">
			<ul class="nav-links">
				<% categories = ["all", "beer", "wine", "vodka", "whiskey", "cider", "rum", "gin", "coolers"] %>
				<% categories.each do |category| %>
					<a href=<%= "#{category}" %>>
						<li id=<%= category == @cat ? "active" : "" %>><strong><%= "#{category.upcase}" %></strong></li></a>
				<% end %>
			</ul>
		</div>
	</header>

	<div class="products-container">

		<ul class="products"> 
		<% @beverages.each_with_index do |beverage, i| %>
			<% display = "display:none;" if i > 19 %>
			<li class=<%= "bg#{i % 8}" %> style= <%= "width:#{beverage[:alcoholPrice].to_i * 10}px;#{display}" %>>
				<span class="list-number"><%= i + 1 %></span>
				<h2 class="product-name"><%= beverage[:name] %></h2>
				<!--<p class="product-details">
					<%= "Price: $#{beverage[:price]}" %>
					<%= "Size: #{beverage[:container]}" %>
					<%= "Alcohol: #{beverage[:alcohol]}%" %> -->
			</li>
		<% end %>	
		</ul>
	</div>

	<button class="show-more" style= <%= "display:none;" if @beverages.size <= 20 %>>Show More</button>

	<div class ="footer" id="show">
	</div>

	<script src='../js/script.js'></script>
</body>
</html>